.app-header{
    padding: 0.5rem;
}

.app-header .logo{
    height: 6rem;
}

.app-header>div.flex{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.app-header a{
    font-family: breul;
    font-size: 1.5rem;
}