.toy {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
}

.toy img {
    height: 4rem;
}

.toy .del-btn {
    background: white;
    /* border: 1px solid var(--off-black); */
    border: none;
    border-radius: 50%;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: -0.5rem;
    top: -0.5rem;
    padding: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}