.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex.column{
    flex-direction: column;
}

.full {
    grid-column: 1/-1;
}

.pill-btn{
    border-radius: 3em;
    border: 1px solid var(--off-black);
    padding: 0.4rem;
}

.clean-list{
    list-style: none;
    padding: 0;
    margin: 0;
}